body{
    margin:0;
    padding:0;
}

.container {
    background-color: rgb(230, 230, 230);
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    background-color: #55bebd;
    padding-top: 15px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    max-height: 145px;
}

.logo {
    margin: 0px auto;
    transition: 1s;
    width: 5%;
    min-width: 50px;
}

.img-title {
    margin: 12px auto 0px;
    width: 30%;
    min-width: 350px;
    transition: 1s;
}

.mob-title {
    display: none;
}

.content {
    padding: 20px 50px;
    flex: 8;
    display: flex;
    flex-direction: column;
    transition: 1s;
}

.img-1 {
    flex: 8;
    height: 100%;
    width: 100%;
    /* background-color: #4CBF7C; */
    margin-bottom: 20px;
    background-image: url(img/studio.jpg);
    background-size: cover;
    background-position: center;
}

.box1 {
    height: 100%;
    background-color: rgb(76, 191, 124, 0.6);
    transition: 0.4s;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.box1:hover {
    background-color: rgb(76, 191, 124, 0.8);
    transition: 0.8s;
}

.box1:hover h1{
    font-size: 4em;
}

.flexed {
    flex: 4;
    display: flex;
}

.img-2 {
    background-image: url(img/namaste.jpg);
    flex: 1;
    /* background-color: #608EBF */
    margin-left: auto;
    margin-right: 10px;
    background-size: cover;
    background-position: 50%;
    height: 100%;
    cursor: pointer;
}

.box2 {
    height: 100%;
    background-color: rgb(96, 142, 191, 0.6);
    transition: .4s;
    position: relative;
    display: flex;
    flex-direction: column;
}

.box2:hover {
    background-color: rgb(96, 142, 191, 0.8);
    transition: .8s;
}

.box2:hover h2 {
    font-size: 3.5rem;
}

.img-3 {
    background-image: url(img/mountain.jpg);
    flex: 1;
    /* background-color: #BF9143; */
    margin-right: auto;
    margin-left: 10px;
    background-size: cover;
    background-position: 50% 60%;
    height: 100%;
    cursor: pointer;
}

.box3 {
    height: 100%;
    background-color: rgb(191, 145, 67, 0.6);
    transition: .4s;
    position: relative;
    display: flex;
}

.box3:hover {
    background-color: rgb(191, 145, 67, 0.8);
    transition: 0.8s;
}

.box3:hover h2 {
    font-size: 3.5rem;
}

h1 {
    font-family: omnes-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5em;
    color: rgb(230, 230, 230);
    transition: .8s;
    margin: auto;
    pointer-events: none;
    cursor: default;
}

h2 {
    font-family: omnes-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    transition: .8s;
    color: rgb(230, 230, 230);
    padding-top: 30px;
    margin: auto;
    pointer-events: none;
    cursor: default;
}


footer {
    flex: 1;
    max-height: 80px;
    width: 100%;
    background-color: #55bebd;
    min-height: 45px;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    transition: 1s;
}

.popup1 {
    height: 80%;
    width: 80%;
    background-color: rgb(240, 240, 240);
    margin: 10%;
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(76, 191, 124);
    border-width: 10px;
}

.none {
    display: none;
}

@media (max-height: 665px) {
    .container {
        position: absolute;
        min-height: 560px;
    }
}
    
@media (max-width: 500px) {


    .container {
        position: absolute;
        min-width: 240px;
        min-height: 655px;
    }

    .logo {
        flex: 1;
        transition: 1s;
    }

    .img-title {
        display: none;
        transition: 1s;
    }

    .mob-title {
        display: block;
        width: 60%;
        margin: 12px auto 0px;
    }

    .content {
        padding: 20px 20px;
        transition: 1s;
    }
    .flexed {
        flex-direction: column;
    }

    .img-1 {
        flex: 3;
        margin-bottom: 10px;
    }

    .img-2 {
        flex: 3;
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
        background-position: 50% 60%;
    }

    .img-3 {
        flex: 3;
        width: 100%;
        margin-left: 0
    }

    h1 {
        transition: 1s;
    }

    h2 {
        padding-top: 0; 
    }

};